#content {
    height: 100vh;
}

#content #sidebar{
    height: 100vh;
    border-right: 2px solid #282828;
    width: 100%;
    position: sticky;
    z-index: 2;
    top: 0;
}

#content #sidebar a div{
    padding-left: 16px;
}

#content #sidebar .active div{
    color: #F76E10;
    border-right: 2px solid #F76E10;
}

#content #sidebar a{
    text-decoration: none;
}

#content #sidebar a:hover p{
    color: #fff ;
    transition: all 0.5s ease;
    cursor: pointer;
    text-decoration: none;
}

#content #sidebar p{
    margin: 5px;
}

#content #main-content .form-group{
    width: 360px;
}

#content #main-content .user-profile h6{
    font-family: 'Montserrat', 'Poppins', sans-serif;
    font-size: 16px;
}

#content #main-content #popular h1,
#content #main-content #data h1{
    font-family: 'Montserrat', 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#content #main-content #popular .btn-sm{
    padding: 10px;
    font-size: 14px;
}

#content #main-content #popular .btn-sm img{
    width: 18px
}

#content #main-content #popular .card{
    background: transparent;
    padding: 0;
}

#content #main-content #popular .card .img-items {
    width: 280px;
    height: 300px;
    border-radius: 24px;
}

#content #main-content #popular .card .img-items:hover{
    cursor: pointer;
    transition: all 0.7s;
    transform: scale(1.05);
}

#content #main-content #popular .card .img-lego {
    background: url('../images/lego.png');
}

#content #main-content #popular .card .img-tiger {
    background: url('../images/tiger.png');
}

#content #main-content #popular .card .img-dota {
    background: url('../images/dota.png');
}

#content #main-content #popular .card .img-crypto {
    background: url('../images/crypto.png');
}


 #content #main-content #data .sort-by select{
    width: 120px
}

#content #main-content #sideInformation .card{
    padding: 1.25rem;
}

#content #main-content #sideInformation .card.card-notification,
#content #main-content #sideInformation .card.card-profile{
    padding: 1rem;
    background: #202020;
}

#content #main-content #sideInformation .card-notification h6,
#content #main-content #sideInformation .card.card-profile h6{
    font-family: 'Montserrat', 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 14px;
}

#content #main-content #sideInformation .card-notification a {
    font-size: 12px;
}

#content #main-content #sideInformation .card-notification .notif.active p{
    font-size: 10px;
}

#content #main-content #sideInformation .card-notification .notif p {
    font-size: 10px;
}

#content #main-content #sideInformation .card-notification .notif{
    height: 50px;
    border-bottom: 1px solid #282828;
}

#content #main-content #sideInformation .card-notification .notif.active .items {
    height: 20px;
}

#content #main-content #sideInformation .card-notification .notif.active .dots {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #F76E10;
    margin: 4px 5px 0 0;
}

#content #main-content #data .pagination .page-item span{
    background: #212529;
    border: none;
}

#content #main-content #data .pagination .page-item button{
    background: #212529;
    border: none;
    color: #fff;
}

#content #main-content #data .pagination .page-item.active button{
    background-color: #F76E10;
    border-color: #F76E10;
}